body {
  font-family: system-ui;
  margin: 0;
}

nav {
  background: #043d20;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  text-align: right;

  & a {
    color: #92b5ff;
    padding: 0 0.5rem;
  }
}

.buttons {
  text-align: center;
  margin: 1rem;
}

.cm-editor {
  margin: 0.5rem;
}

.cm-lintRange-deprecated {
  background-image: none !important;
  text-decoration: line-through;
}

.cm-lintRange-unnecessary {
  background-repeat: no-repeat !important;
  opacity: 0.4;
}
